<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Material Design for Bootstrap fonts and icons -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons">

    <!-- Material Design for Bootstrap CSS -->
    <link rel="stylesheet"
          href="https://unpkg.com/bootstrap-material-design@4.1.1/dist/css/bootstrap-material-design.min.css"
          integrity="sha384-wXznGJNEXNG1NFsbm0ugrLFMQPWswR3lds2VeinahP8N0zJw9VWSopbjv2x7WCvX" crossorigin="anonymous">

    <title>Monitorings</title>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous"></script>
    <script>
    $(document).ready(function(){
            $('.delete-monitoring').click(function () {
                var id = $(this).val();

                $.ajax({
                    type: "DELETE",
                    url: id,
                    success: function (data) {
                        console.log(data);
                    },
                    error: function (data) {
                        console.log('Error:', data);
                    }
                });
            });

            $('.add-monitoring').click(function (e) {
                e.preventDefault();
                var url = $("#url").val();
                var name = $("#name").val();
                var monitoring = { "name": name, "url": url };
                var json = JSON.stringify(monitoring)

                $.ajax({
                    type: "POST",
                    contentType: "application/json",
                    data: json,
                    success: function (data) {
                        console.log(data);
                    },
                    error: function (data) {
                        console.log('Error:', data);
                    }
                });
            });
    });
    </script>
    <style>
        tr.up { background-color: #C4FEAC; }
        tr.down { background-color: #FEACAC; }
        tr.unknown { background-color: #EAEAEA; }

        .small-buttons {
            padding: 0rem .2rem !important;
            margin-bottom: .0rem !important;
        }

        .table-sm td, .table-sm th {
            padding: 0rem;
        }
    </style>
</head>
<body>
<table class="table table-hover table-sm">
    <thead>
    <tr>
        <th scope="col" class="id">Actions</th>
        <th scope="col" class="id">ID</th>
        <th scope="col" class="state">State</th>
        <th scope="col" class="lastSeen">last Seen</th>
        <th scope="col" class="name">Name</th>
        <th scope="col" class="url">URL</th>
    </tr>
    </thead>
    <tbody>

    {{#each monitorings}}
        <tr class="{{this.serviceStateCssClass}} {{this.serviceStateCssTrClass}}">
            <td class="actions">
                <button class="btn btn-outline-danger btn-sm btn-delete small-buttons delete-monitoring"
                        value="{{this.id}}">❌️
                </button>
            </td>
            <td class="id">{{this.id}}</td>
            <td class="state {{this.serviceStateCssId}}">{{this.serviceStateHtmlLabel}}</td>
            <td class="lastSeen">{{this.lastSeen}}</td>
            <td class="name">{{this.name}}</td>
            <td class="url"><a href="{{this.url}}" data-toggle="tooltip" title="{{this.ip}}">{{this.url}}</a></td>
        </tr>
    {{/each}}
    </tbody>
</table>

<div class="card w-50 mx-auto">
    <div class="card-body">
        <h5 class="card-title">Add monitoring</h5>
        <h6 class="card-subtitle mb-2 text-muted">Want to monitor your own service? Great, here you go:</h6>
        <form>
            <div class="form-group">
                <label for="url">Name</label>
                <input type="text" class="form-control" id="name" placeholder="MSSQL server (RDP)">
                <small id="nameHelp" class="form-text text-muted">Descriptive name to the service to be monitored. The
                    list is ordered by this name.
                </small>
            </div>
            <div class="form-group">
                <label for="url">URL</label>
                <input type="text" class="form-control" id="url" placeholder="tcp://sqlserver.mydomain.example:3389">
                <small id="urlHelp" class="form-text text-muted">URL to the service to be monitored. Must return a HTTP
                    code less than 400 to be shown as "up". Be sure you prefixed it with http://, https://, tcp:// or
                    icmp://. In
                    case of tcp://, you have also to specify a port.
                </small>
            </div>
            <button type="submit" class="btn btn-outline-primary add-monitoring">Add monitoring</button>
        </form>
    </div>
</div>


<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<!-- <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>  -->
<script src="https://unpkg.com/popper.js@1.12.6/dist/umd/popper.js"
        integrity="sha384-fA23ZRQ3G/J53mElWqVJEGJzU0sTs+SvzG8fXVWP+kJQ1lwFAOkcUOysnlKJC33U"
        crossorigin="anonymous"></script>
<script src="https://unpkg.com/bootstrap-material-design@4.1.1/dist/js/bootstrap-material-design.js"
        integrity="sha384-CauSuKpEqAFajSpkdjv3z9t8E7RlpJ1UP0lKM/+NdtSarroVKu069AlsRPKkFBz9"
        crossorigin="anonymous"></script>
<script>$(document).ready(function() { $('body').bootstrapMaterialDesign(); });</script>
<script>
    $("[data-toggle='tooltip']").tooltip();
</script>

</body>
</html>
